<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoyidi.aibox.pushtemp.mapper.BycycleInfoMapper">

    <select id="getBycycleInfoAll" resultType="java.util.Map">
        SELECT
	        b.id,
	        b.capture_id,
	        b.bag,
	        b.clothing_texture,
	        b.top_style,
	        b.top_color,
	        b.color,
	        b.guest_hat,
	        b.guest_hat_color,
	        b.hairstyle,
	        b.hat,
	        b.hat_color,
	        b.holding,
	        b.`load`,
	        b.glass,
	        b.facemask,
	        b.vehicle_type,
	        b.byc_type,
	        b.umbrella,
	        b.take_out_box,
	        b.tri_type,
	        c.img,
	        c.key_diagram
        FROM
	        bycycle_info b,
	        capture c
	    where b.capture_id = c.id
	    order by c.snap_time desc
	    Limit 0,10
    </select>

</mapper>
