<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoyidi.aibox.pushtemp.mapper.CarInfoMapper">

    <select id="getCarAll" resultType="java.util.Map">
        SELECT
	        r.id,
	        r.capture_id,
	        r.color,
	        r.heavy_truck_cover,
	        r.heavy_truck_load,
	        r.vehicle_func_type,
	        r.vehicle_type,
	        r.roof_rack,
	        r.sunroof,
	        r.tanker_truck,
	        r.part,
			c.img,
			c.key_diagram,
			c.plate
        FROM
	        car_info r,
	        capture c
	    where r.capture_id = c.id
	    order by c.snap_time desc
	    Limit 0,10
    </select>

</mapper>
