<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoyidi.aibox.pushtemp.mapper.FaceInfoMapper">

    <select id="getFaceInfoAll" resultType="java.util.Map">
        SELECT
	        f.id,
	        f.capture_id,
	        f.age,
	        f.glass,
	        f.hat,
	        f.facemask,
	        f.gender,
	        f.hairstyle,
	        f.beard,
	        f.race,
	        c.img,
	        c.key_diagram
        FROM
	        face_info f,
	        capture c
	    where f.capture_id = c.id
	    order by c.snap_time desc
	    Limit 0,10
    </select>

</mapper>
